<p>	Hello, </p>

<p>	Name: <%= @message.name %>	</p>

<p>	Email: <%= @message.email %>	</p>

<p>		Message: <%= @message.message %></p>

------------------------------------------------

<p style="font-size:12px;"><i>Best regards, QiwiCoin Team</i></p>

<p style="font-size:12px;"><i>Support and questions: admin@qiwicoin.org</i></p>

<p style="font-size:12px;"><i>Partnership and requests: partnership@qiwicoin.org</i></p>