.container
  .row-fluid.margin-20
    .col-xs-12.col-sm-12.col-md-10.col-lg-10.col-md-offset-1.col-lg-offset-1
      %h1.text-center.grays Terms and Conditions

      %p.text-justify.margin-20.gray
        %strong
          QiwiCoin
        is an independent, not anonymous, decentralized cryptocurency. Has no relation to any of the payment systems in the world. Does not violate copyrights. Any use of
        %strong
          QiwiCoin
        should be made at your own risk only for lawful purposes. Before using the cryptocurency
        %strong
          QiwiCoin
        suggest to read the rules of using cryptocurencies in your country. Our site is not legal advice. Due to the fact that
        %strong
          QiwiCoin
        is young cryptocurency, its price can unexpectedly increase and decrease in a short period of time.
        %strong
          QiwiCoin
        should be used as assets with a high degree of risk, so we strongly recommend not to keep in
        %strong
          QiwiCoin
        your savings that you can not afford to lose. Administration of this site shall not be liable for the actions that you have taken yourself using
        %strong
          QiwiCoin.
        If you still have doubts about the effectiveness of using
        %strong
          QiwiCoin,
        strongly recommend you leave this site. All information provided on this site is an informative and creators of the site does not carry no responsibility for the information provided on this site.